@import url('https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/SettingsIcons.css');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@500&family=DM+Sans:wght@600;700&display=swap');

.container-1eFtFS {
  background: linear-gradient(180deg, #191c20, #050607) !important
}

:root {
  --brand-100: #c281eb;
  --brand-200: #b974e4;
  --brand-300: #aa61d6;
  --brand-360: #aa61d6;
  --brand-400: #9e50cf;
  --brand-500: #8d40bc;
  --brand-560: #752da1;
  --brand-600: #752da1;

  --green-100: #a6f5a9;
  --green-200: #8af38e;
  --green-300: #70eb74;
  --green-360: #55db5a;
  --green-400: #45db4b;
  --green-500: #39c43e;
  --green-560: #2cb631;
  --green-600: #26a12a;

  --yellow-100: #ffc579;
  --yellow-200: #ffb453;
  --yellow-300: #ffae44;
  --yellow-360: #fda32d;
  --yellow-400: #ff9c1c;
  --yellow-500: #e78a11;
  --yellow-560: #d68418;
  --yellow-600: #c4750e;

  --orange-100: #ffc579;
  --orange-200: #ffb453;
  --orange-300: #ffae44;
  --orange-360: #fda32d;
  --orange-400: #ff9c1c;
  --orange-500: #e78a11;
  --orange-560: #d68418;
  --orange-600: #c4750e;

  --red: #db4545;
  --purple: #aa61d6;
  --purple-dark: #8d40bc;
  --orange: #ff9c1c;
  --green: #45db4b;

  --profile-gradient-secondary-color: var(--background-secondary);
}

.linkCalloutContainer-1CixBe {
  border-radius: 14px;
  background-color: #31353e !important;
}

.linkCalloutContainer-1CixBe span {
  color: var(--text-link) !important;
  text-decoration: 2px underline var(--red);
  font-weight: 400;
}

code:has(.shiki-table) {
  border-radius: 24px !important;
  padding: 0px !important;
  background-color: #31353e !important;
  font-family: "JetBrains Mono" !important;
}

code:not(:has(.shiki-table)) {
  border-radius: 24px !important;
  padding: 8px 16px !important;
  border: 0px none !important;
  background-color: #272c35 !important;
  font-family: "JetBrains Mono" !important;
}

.autocomplete-3NRXG8 {
  background: var(--background-floating) !important;
  border-radius: 16px;
  padding: 4px;

}

.scroller-18M1mG {
  gap: 4px;
}

.base-2v-uc0 {
  border-radius: 12px !important;
}

pre {
  border-radius: 24px !important;
  background-color: #272c35 !important;
  border: 4px solid #17191b !important;
}

.container-3wLKDe,
.guilds-2JjMmN {
  background-color: transparent;
}

pre:not(:has(.shiki-table))::before {
  content: 'Codeblock';
  height: 38px;
  display: flex;
  align-items: center;
  font-size: 16px;
  background: #282c33 !important;
  color: #abb8cc !important;
  font-family: 'JetBrains Mono' !important;
  border: 1px solid #17191b !important;
  border-bottom: 4px solid #17191b !important;
  border-radius: 20px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  padding-left: 18px;
}

.itemFilled-2Fo7lr,
.select-Zz0IcO,
.cameraWrapper-nG8dpo {
  border-radius: 12px !important;
}

.actionButtons-2vEOUh div span {
  border-radius: 8px !important;
}

.actionButtons-2vEOUh {
  gap: 4px !important;
}

.actionButtons-2vEOUh button[aria-expanded="true"] {
  background: var(--red);
  color: var(--activity-card-background);
}

.actionButtons-2vEOUh button[aria-expanded="true"]:hover {
  opacity: 0.6;
  background: var(--red) !important;
}

.app-2CXKsg button,
button {
  border-radius: 8px !important;
}

.button-1EGGcP.buttonColor-3bP3fX.buttonActive-Uc1jHx {
  color: var(--activity-card-background);
}

button[aria-label="Disconnect"] {
  color: var(--red);
}

.button-1EGGcP.buttonColor-3bP3fX.buttonActive-Uc1jHx:hover {
  background: var(--green) !important;
  opacity: 0.6;
}

.avatarWrapper-1B9FTW .withTagAsButton-OsgQ9L {
  border-radius: 20px !important;
  padding-bottom: -4px;
}

.userPopoutOuter-1OHwPL {
  margin: 0px !important;
  max-height: 570px;
}

.divider-on9OTV {
  background: transparent;
}

.userPopoutOverlayBackground-3A0Pcz {
  margin: 16px 8px 8px !important;
}

.scroller-nxCRu_ {
  background: var(--background-mobile-primary);
  border-radius: 14px;
}

.container-YkUktl .avatar-1EWyVD svg foreignObject {
  mask: url(#svg-mask-avatar-status-round-0);
  border-radius: 8px;
}

.container-JhuCwn {
  padding-bottom: 0px;
}

.barFill-3RgCsY,
.unreadRelevant-2f-VSK {
  background: #8d40bc;
}

.botTagRegular-kpctgU span {
  color: var(--background-floating);
  font-weight: 900;
}

.botTagRegular-kpctgU svg {
  border: 1px solid #abb8cc;
  height: 15px;
  width: 15px;
  margin-right: 2px;
  background: var(--background-floating);
  border-radius: 20px;
  color: #abb8cc;
}

.botTagRegular-kpctgU {
  background: #abb8cc;
  color: var(--background-floating);
  font-weight: bolder;
  border-radius: 20px !important;

}

.card-2guEcY:not(.outline-3kFzf8) {
  border-radius: 20px;
}

.clickable-28SzVr .layout-1qmrhw,
.selected-1-Z6gm .layout-1qmrhw {
  border-radius: 32px !important;
  padding-left: 6px !important;
}

.codeLine-2C-9aH {
  font-family: "JetBrains Mono" !important;
}

.colorDefault-2_rLdz {
  border-radius: 8px;
  transition: .3s cubic-bezier(.175, .885, .32, 1.275) !important;
  padding-right: 6px !important;
  font-family: "DM Sans";
}

.colorDefault-2_rLdz.focused-3LIdPu {
  background-color: #abb8cc;
  color: var(--background-tertiary) !important;
}

.focused-3LIdPu .tipSubtext-qn0l_- {
  opacity: 0.8;
  color: var(--background-tertiary) !important;
}

.colorBrand-26tvUE.focused-3LIdPu {
  background-color: var(--brand-400);
  color: var(--background-tertiary) !important;
  font-weight: bold;
}

.container-1eFtFS {
  background: var(--background-primary);
}

.container-2o3qEW,
.membersWrap-3NUR2t {
  margin: 8px;
  height: 97%;
  border-radius: 12px;
  background: var(--background-floating);
}

.iconWrapper-2awDjA {
  padding: 4px;
  border-radius: 6px;
  height: 32px;
  width: 32px;
}

.iconWrapper-2awDjA.clickable-ZD7xvu:hover,
.iconWrapper-2awDjA.clickable-ZD7xvu.selected-29KTGM:hover {
  background: var(--background-mobile-secondary) !important;
  opacity: 0.8;
}

.iconWrapper-2awDjA.clickable-ZD7xvu.selected-29KTGM {
  background: var(--background-lighter);
}

.members-3WRCEx {
  border-radius: 12px;
}

.containerDefault-YUSmu3 {
  margin-top: 4px;
}

.grid-21dB-S {
  background: var(--background-primary) !important;
}

.flexible-3B4jwn {
  border-radius: 22px;
}

.container-1PloNW {
  background-color: var(--background-secondary) !important;
  border-radius: 18px;
  border: 3px solid var(--background-secondary-alt) !important;
}

.contentPreview-3fWiuC,
.textContentFooter-2JnNv8,
.cameraWrapper-nG8dpo {
  background: var(--background-tertiary) !important;
}

.iconBadge-32fMme {
  background-color: var(--brand-500) !important;
}

.pill-3pRQlO {
  border-radius: 12px;
}

.inviteSplashImage-3f6SDQ,
.inviteSplash-2nkLRX,
.modalHeader-gQTY3L {
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  background: transparent;
}

.markup-eYLPri code.inline {
  padding: 1px 4px !important;
  margin: 0px !important;
  background-color: #1e2124 !important;
  border-radius: 4px;
}

.member-48YF_l,
.members-3WRCEx {
  background: var(--background-floating) !important;
}

.mentioned-Tre-dv {
  background: #ff9c1c13;
  margin-right: 12px;
}

.mentioned-Tre-dv:before {
  background-color: #ff9c1c;
  border-radius: 14px;
}

.message-2CShn3.mentioned-Tre-dv.selected-2LX7Jy,
.mouse-mode.full-motion .mentioned-Tre-dv:hover {
  background: #ff9d1c21;
  border-bottom-right-radius: 14px;
  border-top-right-radius: 14px;
  margin-right: 12px;
}

.modeUnread-3Cxepe {
  background: #a961d607 !important;
  border-radius: 8px;
}

.newMessagesBar-1hF-9G {
  height: 32px;
  top: 8px;
  border-radius: 8px !important;
  background-color: var(--activity-card-background) !important;
  border: 2px solid #aa61d6;
}


.newMosaicStyle-2jdUaP .footer-GXWBBp {
  border-radius: 12px;
  color: var(--header-secondary);
  margin-top: 12px;
  background: var(--activity-card-background);
}

.newMosaicStyle-2jdUaP .textContainer-36wgKK code {
  padding: 10px !important;
  background-color: #272c35 !important;
}

.newMosaicStyle-2jdUaP .textContainer-36wgKK {
  background: transparent;
  border: 0px;
}

.panels-3wFtMD {
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
}

.scrollableContainer-15eg7h,
.container-2ebMPP {
  border-radius: 12px;
}

.searchBar-3TnChZ .searchBarComponent-3N7dCG {
  border-radius: 12px !important;
  padding: 6px 12px;
  height: 34px !important;
}

.searchBar-3TnChZ {
  padding: 0px 8px !important;
}

.searchBar-jGtisZ {
  border-radius: 12px;
  padding: 0px 8px;
  border: 2px solid var(--background-secondary-alt);
}

.searchBar-jGtisZ {
  height: 28px !important;
}

.shiki-lang {
  margin: 4px;
  display: flex;
  align-items: center;
  padding: 6px 18px !important;
  background: #282c33 !important;
  width: fit-content;
  color: #abb8cc !important;
  border-radius: 20px !important;
  font-family: 'gg sans' !important;
  border: 2px solid #141618 !important;
}

.shiki-root {
  border-radius: 24px !important;
}

.shiki-table td {
  color: #465063 !important;
}

.shiki-table {
  border-top: 4px solid #17191b !important;
  padding: 6px !important;
  background-color: #272c35 !important;
  font-family: "JetBrains Mono";
}

.sidebar-1tnWFu {
  margin: 3px;
  border-radius: 16px;
  background: transparent !important;
}

nav.container-1NXEtd {
  margin-bottom: 12px;
  border-radius: 12px;
}

.theme-dark #vc-spotify-player {
  padding: 14px;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
}

.theme-dark .children-3xh0VB:after {
  background: none !important;
}

.theme-dark {
  --background-primary: #272c35;
  --background-secondary: #1f2328;
  --background-secondary-alt: #15171a;
  --background-tertiary: #14171a;
  --background-accent: var(--brand-600);

  --modal-background: #1e2227;
  --background-mobile-primary: #1f2328;
  --background-mobile-secondary: #313642;
  --channeltextarea-background: #16191b;
  --background-message-hover: #abb8cc0a;
  --background-modifier-hover: #abb8cc10;
  --background-modifier-active: #abb8cc1a;
  --background-modifier-selected: #abb8cc1f;
  --deprecated-card-bg: #13162463;
  --background-floating: #16191d;
  --deprecated-quickswitcher-input-background: #282c33;
  --elevation-low: none;
  --scrollbar-auto-thumb: #141618;
  --scrollbar-auto-track: #1f232b;
  --scrollbar-thin-thumb: #141618;
  --activity-card-background: #131518;
  --input-background: #15181b;
  --input-radius: 25px;
  --background-lighter: #3d424c;
}

.chat-2ZfjoI,
.applicationStore-2nk7Lo,
.container-2cd8Mz {
  margin: 3px;
  border-radius: 16px;
  border: 2px solid var(--background-mobile-primary);
}

.lowerBadge-3j0ZAg,
.mention-3XBnnZ,
.mentionsBadge-3H1BKJ,
.iconBadge-3Mmg92 {
  box-shadow: 0px 0px 10px var(--red);
  border-radius: 100px;
}


.content-1SgpWY {
  border-radius: 18px;
  margin: 5px;
  gap: 2px;
}

.title-31SJ6t,
.themed-Hp1KC_,
.container-ZMc96U {
  background: var(--background-mobile-primary) !important;
}


.chat-2ZfjoI.threadSidebarOpen-1LSXvU {
  border-radius: 0px;
}

.resizeHandle-PBRzPC {
  background: var(--background-tertiary) !important;
  width: 6px;
}

.withTagAsButton-OsgQ9L {
  border-radius: 12px;
  padding-left: 4px;
}

.wrapper-1HIH0j {
  border-radius: 22px;
}

.wrapper-NhbLHG,
.link-1_kTxV {
  border-radius: 8px;
}

#vc-spotify-album-image {
  border-radius: 4px !important;
}

#vc-spotify-progress-bar>[class^=slider] [class^=grabber] {
  background-color: #abb8cc;
}

.formContainer-1zrOWf {
  background: var(--background-floating);
  padding: 6px;
  border-radius: 16px;
  padding-left: 14px;
}

.card-2JNtco:has(.matchingPostsRow-2IiEQ1) .collapsed-23aTv6 .formContainer-1zrOWf {
  padding-bottom: 6px;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.mainCard-3KBsBI {
  border: 0px;
}

.matchingPostsRow-2IiEQ1 {
  background: var(--background-secondary);
  border-radius: 12px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.tagsSpacer-38ovAE {
  background-color: var(--background-mobile-secondary) !important;
  border: 1px solid #161616 !important;
}

[aria-label='Thread header'].container-ZMc96U {
  margin: 6px;
  border-radius: 8px;
  margin-right: 20px;
  width: 97%;
}

.root-1CAIjD {
  border-radius: 14px;
}

.footer-IubaaS {
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
}

.menu-2TXYjN {
  border-radius: 14px !important;
}

.colorDanger-3umuSx.focused-3LIdPu {
  background: var(--status-danger) !important;
}

.container-q2_DnH {
  padding: 14px 12px !important;
  border: 4px solid var(--background-floating);
  background-color: var(--background-mobile-primary);
  border-radius: 18px;
}


/* .channelInfo-3jN1ay {
  color: var(--brand-500) !important;
  font-weight: bold;
} */

.popout-TdhJ6Z {
  border-radius: 12px !important;
}

.profileColors-2AgAV4 {
  margin: 12px;
  border-radius: 28px;
}

.userProfileInnerThemedNonPremium-2AJg-H {
  background: linear-gradient(var(--background-floating), var(--background-secondary) 60px, var(--profile-gradient-secondary-color)) !important;
}

.userPanelInnerThemed-3YO1BB {
  border-radius: 16px;
}

.userPanelInnerThemed-3YO1BB::after {
  display: none;
}

.userPanelInnerThemed-3YO1BB .none-1rXy4P {
  border-radius: 16px;
}

.badgeList-2hF9ig {
  border-radius: 8px !important;
  padding: 4px 8px;
}

.overlayBackground-2aa7wt {
  border-radius: 20px !important;
}

.key-RP8gj3 {
  background-color: var(--background-mobile-secondary) !important;
}

.container-YkUktl {
  border-radius: 32px !important;
}

.metadataContainer-35U-On {
  border-radius: 14px;
  padding-right: 8px;
}

.listRow-2nO1T6 {
  border-radius: 14px;
  padding: 6px !important;
}

.listAvatar-2bU5Uh svg,
.input-3O04eu,
.searchBar-2M9mRP,
.container-1SX9VC,
.container-2oNtJn,
.contentWrapper-3vHNP2 {
  border-radius: 12px !important;
}

.primaryEmoji-2Og_xG {
  /** EMOJI */
  border-radius: 8px;
  margin-top: 0px;
}

.shinyButton-2Q9MDB:hover,
.shinyButton-2Q9MDB.focused-3LIdPu {
  background: linear-gradient(270deg, var(--premium-tier-2-pink-for-gradients), var(--premium-tier-2-pink-for-gradients-2) 33.63%, var(--premium-tier-2-purple-for-gradients)) !important;
  color: var(--background-floating) !important;
  font-weight: 900;

}

.popoutContainer-2wbmiM {
  border-radius: 16px;
}

.categoryItemDefaultCategorySelected-2YeRUu,
.stickerCategoryGenericSelected-DnO2K8,
.navButtonActive-1EqC5l,
.messageInputContainer-24qqTx {
  border-radius: 8px !important;
}

.categoryList-2qRrlj,
.wrapper-22rqw6 {
  border-top-right-radius: 12px;
}

.container-1QtPKm {
  background: var(--background-tertiary) !important;
  height: 28px;
  width: 44px !important;
}

.slider-HJFN2i {
  height: 28px !important;
  width: 34px !important;
  margin: 0px !important
}

.container-1QtPKm .slider-HJFN2i rect {
  fill: var(--red) !important;
}

.checked-16gMAN .slider-HJFN2i rect {
  fill: var(--green) !important;
}

.slider-HJFN2i svg path {
  fill: var(--background-tertiary) !important;
}

.closeButton-PCZcma {
  background: var(--red);
  width: 60px;
  border-radius: 50px;
  border: 3px solid var(--background-floating);
  color: var(--background-floating);
}

.item-2GWPIy[aria-label="Log Out"] {
  background: var(--red);
  border: 3px solid var(--background-floating);
  color: var(--background-floating);
  padding: 8px 16px;
  border-radius: 50px;
  font-weight: bold;
}

.item-2GWPIy[aria-label="Log Out"]:hover {
  background: var(--red) !important;
  opacity: 0.7;
  border: 4px solid var(--background-floating) !important;
  color: var(--background-floating) !important;
}

.item-2GWPIy {
  flex-direction: row-reverse;
  transition: .3s cubic-bezier(.175, .885, .32, 1.275) !important;
  justify-content: space-between !important;
}

button,
.closeButton-PCZcma {
  transition: .3s cubic-bezier(.175, .885, .32, 1.275) !important;
}

.channelTextArea-1FufC0:has(.attachedBars-2BCP3l) .hasConnectedBar-1vN2JH {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

button:hover,
.closeButton-PCZcma:hover {
  opacity: 0.8;
  transform: scale(0.95) !important;
}

.closeButton-PCZcma:hover {
  background-color: var(--red);
  color: var(--activity-card-background);
}

.sprite-2lxwfc {
  transition: none !important;
}

.emojiItemSelected-2Lg50V {
  background-color: var(--background-floating) !important;
}

.embedWrapper-1MtIDg {
  border-radius: 8px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}

.imageContent-3Av-9c {
  border-radius: 12px !important;
}
